@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;700&display=swap');

:root {
  --background: #171717; /* Dark background color */
  --header-background: rgb(40, 40, 40); /* Slightly lighter background for the header */
  --accent-color: #ff5e5e; /* links */
  --text-color: #e0e0e0; /* Light gray text color */
  --main-heading-color: #ffcc00; /* Coding Playlist */
  --section-color: #4e79a7; /* Deep blue for section headings */
  --heading-color: #e84a5f; /* purp for headings */
}

html {
    font-family: 'Work Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background);
}

header.shadow {
    transition: box-shadow 0.1s ease;
    box-shadow: 0px 0px 10px 5px var(--main-heading-color);
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(40, 40, 40, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    z-index: 1000;
    padding-top: 1px;
    border-bottom: solid 1px var(--text-color);
}

header button {
    background-color: rgba(40, 40, 40, 0.7);
    color: var(--accent-color);
    border-color: var(--accent-color);
    width: 25%;
    backdrop-filter: blur(0px);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 6%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header button:hover, header button:focus{
    opacity: 1;
    background-color:#e54b4b;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--accent-color);
}

#contribution_link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.4s;
}

#contribution_link a:hover {
    color: var(--accent-color);
}

#contribution_link {
    text-align: right;
}

main {
    margin: 0 2rem;
    padding-bottom: 8rem;
    /* flex: 1 0 */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

section h2, section div {
    margin: 2rem 0;
    color: var(--heading-color);
}

h1 {
    text-align: center;
    color: var(--main-heading-color);
}

section h2, section div {
    margin: 2rem 0;
}

#spotify {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.spotify-wrapper {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 20px;
}

.youtube-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (min-width: 1080px) {
    .spotify-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .youtube-wrapper iframe {
        flex-basis: calc(33.3% - 13.3px);
    }
}

@media screen and (min-width: 1440px) {
    .spotify-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

footer {
    background-color: var(--header-background);
    text-align: center;
    padding: 4rem 0;
    color: var(--text-color);
    width: 99%;
}
