@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;700&display=swap');

html {
    font-family: 'Work Sans', sans-serif;
    color: #f8f8ec;
    background-color: black;
}

header{
    position: sticky; 
    top: 0;  
    background-color: black;
    padding-top: 1px;     
    border-bottom: solid 1px white; 
}

/* issue #16: add link to contribute */
#contribution_link {
    text-align: right;
}

#contribution_link a {
    text-decoration: none;
    color: #fff;
}

main {
    padding-bottom: 8rem;
}

h1 {
    text-align: center;
}

section h2, section div {
    margin: 20px;
}

footer {
    background-color: #282828;
    text-align: center;
    padding: 4rem 0;
}