@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;700&display=swap');

html {
    font-family: 'Work Sans', sans-serif;
    color: #f8f8ec;
    background-color: black;
}

header {
    position: sticky; 
    top: 0;  
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(15px);
    padding-top: 1px;     
    border-bottom: solid 1px white; 
}

#contribution_link {
    text-align: right;
}

#contribution_link a {
    text-decoration: none;
    color: #fff;
}

main {
    margin: 0 2rem;
    padding-bottom: 8rem;
}

h1 {
    text-align: center;
}

section h2, section div {
    margin: 2rem 0;
}

#spotify {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.spotify-wrapper {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 20px;
}

.youtube-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (min-width: 1080px) {
    .spotify-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .youtube-wrapper iframe {
        flex-basis: calc(33.3% - 13.3px);
    }
}

@media screen and (min-width: 1440px) {
    .spotify-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

footer {
    background-color: #282828;
    text-align: center;
    padding: 4rem 0;
}
